{% extends '__base.html' %}
{% load static i18n %}

{% block meta_tag %}
{{ super.super }}
{% endblock %}

{% block title %} VU {% endblock%}

{% block favicon %}
{{ block.super }}
{% endblock %}

{% block stylesheet %}
{{ block.super }}
{% endblock %}

{% block body %}

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include 'teacher/_nav.html' %}

                <!-- Begin Page Content -->
                <div class="container-fluid" style="direction: rtl">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">{{ course.persian_title }}</h1>
                        <div>
                            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#studentModal">
                                <i class="fas fa-plus fa-sm text-white-50"></i>
                                جزئیات تکالیف
                            </a>
                            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#studentModal">
                                <i class="fas fa-plus fa-sm text-white-50"></i>
                                اضافه کردن دانشجو
                            </a>
                            <a href="{% url 'teacher:notice' 1 %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                <i class="fas fa-plus fa-sm text-white-50"></i>
                                تالار اعلانات
                            </a>
                            <a href="{% url 'teacher:task-create' 1 %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                <i class="fas fa-plus fa-sm text-white-50"></i>
                                افزودن تکالیف
                            </a>
                            <a href="{% url 'quiz:create' course.id %}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                                <i class="fas fa-plus fa-sm text-white-50"></i>
                                افزودن امتحان
                            </a>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="form-row">
                        <div class="col-md-8">
                            <table class="table table-bordered text-center">
                                <thead>
                                <tr>
                                    <th scope="col">شماره دانشجویی</th>
                                    <th scope="col">نام</th>
                                    <th scope="col">نام خانوادگی</th>
                                    <th scope="col">حذف</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for student in course.student.all %}
                                <tr>
                                    <th scope="row">{{ student.username }}</th>
                                    <td>{{ student.first_name }}</td>
                                    <td>{{ student.last_name }}</td>
                                    <td>
                                        <a href="{% url 'teacher:course-student-delete' pk=course.id username=student.username %}" class="btn btn-danger" role="button" aria-pressed="true">DELETE</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <form method="post" action="{% url 'teacher:course' course.id %}" class="p-3 mb-3" style="background: #4e73df; color: #fff;">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-3">
                              <label for="inputCity">عنوان انگلیسی</label>
                              {{ form.english_title }}
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputCity">عنوان فارسی</label>
                                {{ form.persian_title }}
                            </div>
                            <div class="form-group col-md-3">
                                <label for="inputCity">تصویر</label>
                                {{ form.image }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-8">
                              <label for="inputCity">توضیحات</label>
                              {{ form.description }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <button type="submit" class="btn btn-success" style="width: 100%">ثبت</button>
                            </div>
                        </div>

                    </form>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% include 'teacher/_footer.html' %}

        </div>
        <!-- End of Content Wrapper -->

        {% include 'teacher/_sidebar.html' %}

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" style="direction: rtl">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">اضافه کردن دانشجو</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                          <label for="studentUsername">شماره دانشجویی</label>
                          <input type="username" class="form-control" id="studentUsername">
                        </div>
                    </form>
                </div>
                <div class="modal-footer" style="justify-content: start">
                    <button class="btn btn-success" type="button" id="addStudent">اضافه کردن</button>
                    <a class="btn btn-danger" href="login.html">لغو</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

    <script>
        $(document).ready(function(){
            $("#addStudent").click(function(){
                var value = $("#studentUsername").val();
                var origin = window.location.origin;
                var url = origin + '/teacher/course/' + {{ course.id }} + '/student/add/' + value + '/'

                $.get(url);
                location.reload();
            });
        });
    </script>

{% endblock %}